In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pickle
import time

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
from sklearn.feature_selection import RFE

In [3]:
def selectkbest(indep_x,dep_y,n):
    test=SelectKBest(score_func=chi2,k=n)
    fit1=test.fit(indep_x,dep_y)
    selectk_features=fit1.transform(indep_x)
    return selectk_features

In [4]:
def split_scalar(indep_x, dep_y):
    x_train, x_test, y_train, y_test = train_test_split(indep_x, dep_y, test_size=0.25, random_state=0)
    sc = StandardScaler()
    x_train = sc.fit_transform(x_train)
    x_test = sc.transform(x_test)
    return x_train, x_test, y_train, y_test

In [5]:
def rscore_prediction(regressor,x_test):
    y_pred=regressor.predict(x_test)
    from sklearn.metrics import r2_score
    r_score=r2_score(y_test,y_pred)
    return r_score

In [6]:
def linear(x_train, y_train, x_test):
    from sklearn.linear_model import LinearRegression
    regressor = LinearRegression()
    regressor.fit(x_train, y_train)
    r_score = regressor.score(x_test, y_test)
    return r_score, x_test, y_test

In [7]:
def svml(x_train, y_train, x_test):
    from sklearn.svm import SVR
    regressor = SVR(kernel='linear')
    regressor.fit(x_train, y_train)
    r_score = rscore_prediction(regressor, x_test)
    return r_score, x_test, y_test

In [8]:
def Decision (x_train,y_train,x_test):
    from sklearn.tree import DecisionTreeRegressor
    regressor=DecisionTreeRegressor(criterion='friedman_mse',random_state=0)
    regressor.fit(x_train,y_train)
    r_score=rscore_prediction(regressor,x_test)
    return r_score,x_test,y_test

In [9]:
def random(x_train,y_train,x_test):
    from sklearn.ensemble import RandomForestRegressor
    regressor=RandomForestRegressor(n_estimators=10,criterion='friedman_mse',random_state=0)
    regressor.fit(x_train,y_train)
    r_score=rscore_prediction(regressor,x_test)
    return r_score,x_test,y_test

In [10]:
def selectk_regression(rscorelin, rscoresvml, rscoredes, rscorerf):
    columns = ['logistic', 'svml', 'Decision', 'random']
    dataframe = pd.DataFrame(columns=columns)
    dataframe.loc['chisquare'] = [rscorelin[0], rscoresvml[0], rscoredes[0], rscorerf[0]]
    return dataframe

In [11]:
dataset1=pd.read_csv("online_shoppers_intention.csv",index_col=None)
df2=dataset1
df2

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,Revenue
0,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.000000,0.0,Feb,1,1,1,1,Returning_Visitor,False,False
1,0,0.0,0,0.0,2,64.000000,0.000000,0.100000,0.000000,0.0,Feb,2,2,1,2,Returning_Visitor,False,False
2,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.000000,0.0,Feb,4,1,9,3,Returning_Visitor,False,False
3,0,0.0,0,0.0,2,2.666667,0.050000,0.140000,0.000000,0.0,Feb,3,2,2,4,Returning_Visitor,False,False
4,0,0.0,0,0.0,10,627.500000,0.020000,0.050000,0.000000,0.0,Feb,3,3,1,4,Returning_Visitor,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12325,3,145.0,0,0.0,53,1783.791667,0.007143,0.029031,12.241717,0.0,Dec,4,6,1,1,Returning_Visitor,True,False
12326,0,0.0,0,0.0,5,465.750000,0.000000,0.021333,0.000000,0.0,Nov,3,2,1,8,Returning_Visitor,True,False
12327,0,0.0,0,0.0,6,184.250000,0.083333,0.086667,0.000000,0.0,Nov,3,2,1,13,Returning_Visitor,True,False
12328,4,75.0,0,0.0,15,346.000000,0.000000,0.021053,0.000000,0.0,Nov,2,2,3,11,Returning_Visitor,False,False
12329,0,0.0,0,0.0,3,21.250000,0.000000,0.066667,0.000000,0.0,Nov,3,2,1,2,New_Visitor,True,False

In [12]:
df2=pd.get_dummies(df2,drop_first=True)
indep_x=df2.drop('PageValues',1)
dep_y=df2['PageValues']
df2

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,...,Month_Feb,Month_Jul,Month_June,Month_Mar,Month_May,Month_Nov,Month_Oct,Month_Sep,VisitorType_Other,VisitorType_Returning_Visitor
0,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.000000,0.0,...,1,0,0,0,0,0,0,0,0,1
1,0,0.0,0,0.0,2,64.000000,0.000000,0.100000,0.000000,0.0,...,1,0,0,0,0,0,0,0,0,1
2,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.000000,0.0,...,1,0,0,0,0,0,0,0,0,1
3,0,0.0,0,0.0,2,2.666667,0.050000,0.140000,0.000000,0.0,...,1,0,0,0,0,0,0,0,0,1
4,0,0.0,0,0.0,10,627.500000,0.020000,0.050000,0.000000,0.0,...,1,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12325,3,145.0,0,0.0,53,1783.791667,0.007143,0.029031,12.241717,0.0,...,0,0,0,0,0,0,0,0,0,1
12326,0,0.0,0,0.0,5,465.750000,0.000000,0.021333,0.000000,0.0,...,0,0,0,0,0,1,0,0,0,1
12327,0,0.0,0,0.0,6,184.250000,0.083333,0.086667,0.000000,0.0,...,0,0,0,0,0,1,0,0,0,1
12328,4,75.0,0,0.0,15,346.000000,0.000000,0.021053,0.000000,0.0,...,0,0,0,0,0,1,0,0,0,1
12329,0,0.0,0,0.0,3,21.250000,0.000000,0.066667,0.000000,0.0,...,0,0,0,0,0,1,0,0,0,0

In [13]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
dep_y = label_encoder.fit_transform(dep_y)

In [14]:
kbest =selectkbest(indep_x,dep_y,4)
rscorelin=[]
rscoresvml=[]
rscoredes=[]
rscorerf=[]

In [15]:
x_train, x_test, y_train, y_test = split_scalar(kbest, dep_y)
r_score,x_test,y_test= linear(x_train, y_train, x_test)
rscorelin.append(r_score)
r_score, x_test, y_test= svml(x_train, y_train, x_test)
rscoresvml.append(r_score)
r_score, x_test, y_test= Decision(x_train, y_train, x_test)
rscoredes.append(r_score)
rscore,x_test, y_test = random(x_train, y_train, x_test)
rscorerf.append(r_score)
result= selectk_regression (rscorelin,rscoresvml,rscoredes,rscorerf)

In [16]:
result

           logistic      svml  Decision    random
chisquare  0.008091 -0.209388 -0.824887 -0.824887